/* 
------------------------------
Piccto Design
------------------------------
www.piccto.de
------------------------------
Base CSS 08.14
-----------------------------*/


/* Framework
-----------------------------*/
.container						{...width: 90%; max-width: 960px; margin: 0 auto;}

.row							{width: 100%; padding: 15px 0;}

.col-20							{width: 16.8%;}
.col-25							{width: 22%;}
.col-30							{width: 27.2%;}
.col-33							{width: 30.5%; *width: 30.5%;} /* IE 7 */ 
.col-40							{width: 37.6%;}
.col-50							{width: 48%;}
.col-60							{width: 58.4%;}
.col-66							{width: 65.33333%;}
.col-70							{width: 68.8%;}
.col-75							{width: 74%;}
.col-80							{width: 79.2%;}
.col-100						{width: 100%;}

[class*='col']					{float: left; margin-left: 4%;}

[class*='col']:first-child,
[class*='col'].first			{margin-left: 0;}

.container:after,
.row:after						{content: ""; display: table; clear: both;}

*:first-child+html .container,
*:first-child+html .row			{zoom: 1;} /* IE7 */


@media only screen and (max-width: 800px) {

	.row						{padding: 0;}

	[class*='col']				{width: 100%; margin: 2% 0; display: block;}

}

/* Type 
-----------------------------*/
body, h1, h2, h3, h4			{font-family: 'web_regular', Arial, sans-serif; font-weight: normal;}

h5, h6, strong, .strong			{font-family: 'web_bold', Arial, sans-serif; font-weight: normal;}

/* Type Styles
-----------------------------*/
body							{font-size: 14px; color: #777; line-height: 1.6;}

h1								{font-size: 3em;}		/* 36px = 3em */
h2								{font-size: 2.5em;}		/* 30px = 2.5em */
h3								{font-size: 2em;}		/* 24px = 2em */
h4								{font-size: 1.5em;}		/* 18px = 1.5em */
h5								{font-size: 1.25em;}	/* 15px = 1.25 em */
h6								{font-size: 1em;}		/* 12px = 1em */

h1, h2, h3						{line-height: 1.25;}

h1, h2, h3, h4, h5, h6, p		{margin-bottom: 13px;}

p:last-child					{margin-bottom: 0;}

@media only screen and (max-width: 800px) {

	h1, h2, h3					{font-size: 2em;}
}

@media only screen and (max-width: 400px) {

	body, h4, h5, h6			{font-size: 1em;}
}

/* Helpers 
-----------------------------*/
.left							{float: left;}
.right							{float: right;}
.clear							{clear: both;}

.text-left						{text-align: left;}
.text-right						{text-align: right;}
.text-center					{text-align: center;}
.text-uppercase					{text-transform: uppercase;}


.relative						{position: relative;}
.absolute						{position: absolute;}

.alpha							{margin-left: 0; padding-left: 0; border: 0;}
.omega							{margin-right: 0; padding-right: 0; border: 0;}
.nospace						{margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;}

.hidden							{display: none;}

abbr, small, .small				{font-size: 11px;}
.large, .sub					{font-size: 15px;}

a.underline						{border-bottom: 1px dotted #777;}
a:hover.underline				{border-bottom: 1px dotted #ff3300;}

hr 								{display: block; height: 1px; border: 0; border-top: 1px dotted #CCC; margin: 30px 0;}

[class*='col'] > hr				{margin: 0 0 13px 0;}

.table-cell						{display: table-cell; float: none; vertical-align: middle;}

@media only screen and (max-width: 800px) {
	.table-cell					{width: 100%; display: block; xpadding: 0 !important;}
}

input, select 					{vertical-align: middle;}

/* Sticky Footer 
-----------------------------*/
footer .stickyfooter			{width: 100%; padding: 5px 0 3000px 0; margin-bottom: -3000px;}

/* Resets
-----------------------------*/
*								{margin: 0; padding: 0; border: 0;}

html, body						{min-height: 100%;}

ul, ol, li						{list-style: none;}

ul:after, ol:after				{content: ""; display: table; clear: both;}

a, a:visited					{color: inherit; text-decoration: none; cursor: pointer;}

a:focus							{outline: none;}

img								{outline: 0; height: auto;}
																
/* HTML5 display-role 
reset for older browsers*/
article, aside, figure, footer, 
header, hgroup, nav, section 	{display: block;}


/*Clearfix*/
.clearfix:after		 			{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
*:first-child+html .clearfix 	{zoom: 1;} /* IE7 */
* html .clearfix             	{zoom: 1;} /* IE6 */

/* IE_Sorry 
-----------------------------*/
p.ie							{
								font-family: Arial, sans-serif; 
								font-size: 12px; 
								color: #FFFFFF; 
								text-align: center;
								padding: 5px 10px; 
								background: #999999;
								}